html {
  height: 100%;
  /* max-height: 600px; */
  /* width: 1000px; */
  background-color: hsla(200,40%,30%,.4);
  background-image:   
    url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
    url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
    url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
    url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
    url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
  background-repeat: repeat-x;
  background-position: 
    0 20%,
    0 100%,
    0 50%,
    0 100%,
    0 0;
  background-size: 
    0px,
    800px,
    500px 200px,
    1000px,
    400px 260px;
  animation: 50s para infinite linear;
}

@keyframes para {
  100% {
    background-position: 
      -5000px 20%,
      -800px 95%,
      500px 50%,
      1000px 100%,
      400px 0;
    }
}

/* body {
    background: url(../img/bg-site.jpg) no-repeat;
    background-size: cover;
} */

#container {
    background: #445b85;
    /* Largura da tela */
    max-width: 400px;
    /* Centralizar */
    margin: 0 auto;
    text-align: center;
    border: #704485 5px solid;
    border-radius: 15px;
    /* Espaçamento dentro do elemento */
    padding: 15px;
}

#container h1 {
    color: #fff;
    /* Espaçamento dentro do elemento */
    padding: 15px;
    /* Tamanho do texto */
    font-size: 30px;
    font-family: comic sans ms;
}

#tarefa {
    border: #704485 3px dotted;
    padding: 5px;
    outline: none;
    color: #ffffff;
    cursor: text;
    background: black;
}

#tarefa::placeholder {
    color: rgb(107, 107, 107);
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    cursor: pointer;
    background: #487bda;
    border-radius: 5px;
    box-shadow: 5px 4px 3px #00285c;
}

.w3 {
    border: #ffffff 2px solid;
    border-radius: 5px;
    background:#04aa6d ;
    color: #ffffff;
    text-decoration: none;
}

.terra {
    border: #ff0000 2px solid;
    border-radius: 5px;
    background:#ff8000 ;
    color: #00ff00;
    text-decoration: none;
}